<script>
export class ngOnInit{
  title = 'the title'; 
  click1(){
    this.title = "Song 1 Info"; 
}
}
export class ngOnInit2{
  title = 'the title'; 
  click2(){ 
    this.title = "Song 2 Info"; 
  }
}
  export class ngOnInit3{ 
  title = 'the title'; 
  click3(){ 
    this.title = "Song 3 Info"; 
  }
}
  export class ngOnInit4{ 
  title = 'the title'; 
  click4(){ 
    this.title = "Song 4 Info"; 
  }

}
</script>

ngFor() {
  <button(click)="click1()">get song</button>
  <button(click)="click2()">get song</button>
  <button(click)="click3()">get song</button>
  <button(click)="click4()">get song</button>
}
<section class="gridArea">
<div class="imgArea common">
</div>
<div class ="listArea common">
<h3>My Songs Info:</h3>
<ul>
<li>Name: surfin
</li>
<li>Artist: Beach boys</li>
<li>Genre: pop</li
>
<li>Year: 1963
</li>
<li><img src="../images/IMG_0306" width="150px"></li>

<li>Name: without you
</li>
<li>Artist: Halsey</li>
<li>Genre: pop</li
>
<li>Year: 2018
</li>
<li><img src="../images/IMG_0704" width="150px"></li>


<li>Name: believe
</li>
<li>Artist: Cher</li>
<li>Genre: pop</li
>
<li>Year: 2000
</li>
<li><img src="../images/IMG_1404" width="150px"></li>


<li>Name: breathe
</li>
<li>Artist: Faith Hill</li>
<li>Genre: pop</li
>
<li>Year: 2000
</li>
<li><img src="../images/IMG_1439" width="150px"></li>

</ul>
</div>
</section> 